<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição, confira os detalhes abaixo:</p>
<p>
    <strong>Usuário: </strong> {{ user }} 
    <br />
    <strong>Meetup: </strong> {{ meetup }} 
    <br />
</p>